.hide {
    display: none;
}

.envBlock {

}

body {
    background: transparent url('/assets/images/devops.jpg') center no-repeat;
}

.hostRow:hover {
    background-color: #fff;
    color: #3c3c3c;
    cursor: pointer;
}

.hostRowMoreInfo {
    display: none;
}

.hostRowMoreInfo.visible {
    display: table-row;
}